/* green-tinted grey, #dbe9c9; font helvetica */ /* OG logo main green: 8bc932 */


body { margin-left: 4em; margin-right: 9em; font: 14px Helvetica, sans-serif; }

.s { background: #dbe9c9;} .p { background: #dbe9c9;} .o { background: #dbe9c9;}

.fulltriples {
  float: left;
  font-size: 10px;
}

.helpdoc {
    margin-left: 5em;
    margin-top: 1em;
    width: 600px;
    font-size: 15px;
}

.ogfield {
    width: 200px;
}

.th_error {
    background: pink;
}

.th_desc {
    background: #dcdcdc;
}

.th_detail {
    background: #dcdcdc;
}

.footer {
    width: 850px;
    padding: 7px;
    height: 1px;
    text-align: center;
    border-style: none;
    border: 0px solid #F00;
}

hr {
   margin-left:auto;
   margin-right:auto;
   width:70%;
   line-height:0px;
   border: 1px solid black;
}

.helplink {
    float: right;
}

h2 {
    border-width: medium;
    margin-right: 6em;
    font-size: 24px;
    color: #666566;
    background-color: #ffffff;
}

h3 {
   color: #999;
}

.headblock {
    background: #dbe9c9;
    padding: 7px;
    border-width: medium;
    margin-right: 6em;
    float: left;
    width: 850px;
}

.fatURL {
    font-size: 25px;
}

.checkbutton {
   font-weight: bolder; background-color: #eeeeee;
}

.urlfield {
   font-weight: bolder;
   background-color: #dbe9c9;
   width: 80%;
   margin-left: 10px;
}

.urlexamples {
   margin-left: 100px;
}

.urlexamples A:visited {text-decoration: none; color: black;}

.OGPtop A:link {text-decoration: none; color: black; } .OGPtop A:visited {text-decoration: none; color: black; }

.showmore A:visited {text-decoration: none; color: black;} .showmore A:link {text-decoration: none; color: black;} .hidedetail A:link {text-decoration: none; color: 
black; } .hidedetail A:visited {text-decoration: none; color: black; } .showmore {
  margin-left: 400px;
  text-decoration: underline;
}


.urlform {
    background: #dcdcdc;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;

    border-width: medium;
    margin-right: 6em;
    
    float: left;
    width: 850px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.headlogo { /* medium logo, w/ transparency to pick up green-grey bg. */
    float: left;
    width: 100px;
    padding: 10px;
}

.headtext { /* Open Graph checker blah blah */
    float: left;
    width: 600px;
    padding-top: 15px;
    line-height: 1.25;
    font-size: 15px;
}

.ogptop {
     font-size: 33px;
     font-weight: bold;
}

.tagline {
    padding-left: 2px;
    padding-top: 0px;
    font-size: 14px;
    font-weight: lighter;
}

.posthead {
    clear: both;
}

.clearboth{
    clear: both;
}

.ogptop A:visited {text-decoration: none; color: black;}

.checkmarkup {
/*    text-align: center; */
    margin-left: 10px;
}

.howto {
/*    text-align: center; */
    margin-left: 20px;
}

.learn {
    margin-left: 20px;
}

h2 A:visited {text-decoration: none; color: black;} h3 A:visited {text-decoration: none; color: black;} h4 A:visited {text-decoration: none; color: black;} .ogfield { 
font-weight: bold; background: #d9edbc;}

table {
    font: 14px Helvetica, sans-serif;
    border-collapse: collapse;
    width: 580px;
    border-style: solid;
    border-width: thin;
}

td{
    border-style: solid;
    border-width: thin;
}

.expected { background: yellow; } .warning { background: orange; padding: 2px; } A:link {text-decoration: none} A:visited {text-decoration: none} A:active 
{text-decoration: none} A:hover {text-decoration: underline; color: red;}

/* used for show and hide of sections */ code.type { font-style:bold; color: brown; } li.type code { font-style:bold; color: brown; } li.prop code { font-style:italic; 
color: green; } em.type { color: brown; } em.prop { color: green; }

/* rounded corners */ .rc {
    -moz-border-radius: 10px;
    border-radius: 10px;
}


.center {
   margin-left:auto;
   margin-right:auto;
   width:70%;
}

